.map-wrapper {
    position: relative;

    #map {
        width: 1500px;
        height: auto;
    }
}

.zoom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    button {
        margin: 10px;
        width: 50px;
        height: 50px;
        background: $zoomButtonBg;
        border: 1px solid $zoomButtonBorder;
        font-weight: bold;
        font-size: 24px;
    }
}

.seat {
    cursor: pointer;

    &[data-status='sold'],
    &[data-status='hold'] {
        cursor: initial;

        .seat_cycle {
            fill: $seatSold;
        }

        .seat_text {
            display: none;
        }
    }

    &[data-status='booked'] {
        .seat_cycle {
            fill: $seatBooked;
        }
    }

    .seat_text {
        font-size: 12px;
        font-weight: normal;
        font-family: Arial;
        fill: $seatTextColor;
    }

    .seat_cycle {
        fill: $seatFree;
        fill-rule: nonzero;
        transition: fill ease-in 0.3s;
    }
}

.seats_bg {
    fill: $seatsBG;
    fill-rule: nonzero;
}

.curves {
    fill: $curvesColor;
    fill-rule: nonzero;
}

.titles {
    fill: #FFFFFF;
    font-family: Arial;
    font-weight: normal;

    .title_seat_row {
        font-size: 16px;
        fill: $curvesColor;
    }

    .title_lodge {
        font-size: 16px;
        fill: $curvesColor;
    }

    .title_area {
        fill: $curvesColor;
        font-size: 30px;
    }
}