.statusbar {
    padding: 10px;
    background: $statusBarBg;

    @include media-breakpoint-down(sm) {
        height: 40vh;
        position: fixed;
        bottom: 0;
    }

    @include media-breakpoint-up(md) {
        overflow-y: auto;
    }

    .statusbar-inner {
        @include media-breakpoint-up(md) {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            height: 100%;
        }
    }
}

.booked-seats {
    max-height: calc(100vh - 230px);
    overflow-y: auto;
}

.tickets-count {
    display: flex;
    justify-content: space-between;
}

.booked-list {
    margin: 0;
    padding: 0;

    .booked-seat {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 10px 15px 20px;
        margin: 10px 0;
        border-radius: 3px;
        list-style: none;
        background: white;
        border: $bookedSeatBorder;

        .booked-seat__name {

        }

        .booked-seat__price {
            margin-right: 20px;
            font-weight: bold;
        }

        .booked-seat__remove {
            display: inline-block;
            background: none;
            padding: 0;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            line-height: 30px;
        }
    }
}