.statusbar {
    padding: 10px;
    background: $statusBarBg;
    overflow-y: auto;

    .statusbar-inner {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
    }
}

.booked-seats {
    max-height: calc(100vh - 230px);
    overflow-y: auto;
}

.tickets-count {
    display: flex;
    justify-content: space-between;
}

.booked-list {
    margin: 0;
    padding: 0;

    .booked-seat {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 10px 15px 20px;
        margin: 10px 0;
        border-radius: 10px;
        list-style: none;
        background: white;
        border: $bookedSeatBorder;

        button {
            display: block;
            background: none;
            padding: 0;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            line-height: 30px;
        }
    }
}