.statusbar {
    padding: 10px;
    background: $statusBarBg;

    .statusbar-inner {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
    }
}

.tickets-count {
    display: flex;
    justify-content: space-between;
}

.booked-list {
    margin: 0;
    padding: 0;

    .booked-seat {
        display: flex;
        justify-content: space-between;
        padding: 20px 10px;
        margin: 10px 0;
        list-style: none;
        background: white;
        border: $bookedSeatBorder;
    }
}