$seatFree: #0fc7f8;
$seatSold: #cacaca;
$seatBooked: #fd6d8e;
$seatHold: #cacaca;
$seatTextColor: white;
$seatsBG: #F7F7F7;

$curvesColor: #AA9055;
$curvesColor: #999999;

$zoomButtonBg: pink;
$zoomButtonBorder: #bebcbc;

$btnBg: #fd6d8e;
$btnColor: #fff;

$bg: #fff;
$statusBarBg: #ebdfde;
$statusBarWidth: 330px;

$bookedSeatBg: #fff;
$bookedSeatBorder: #eee;