@import 'normilize';
@import 'statusbar';

$seatFree: yellowgreen;
$seatSold: #d2d2d2;
$seatBooked: pink;
$seatTextColor: white;
$seatsBG: #F7F7F7;
$curvesColor: #AA9055;

*, *::before, *::after {
    box-sizing: border-box;
}

.seat {
    cursor: pointer;

    &[data-status='sold'] {
        cursor: initial;

        .seat_cycle {
            fill: $seatSold;
        }
    }

    &[data-status='booked'] {
        .seat_cycle {
            fill: $seatBooked;
        }
    }

    .seat_text {
        font-size: 12px;
        font-weight: normal;
        font-family: Arial;
        fill: $seatTextColor;
    }

    .seat_cycle {
        fill: $seatFree;
        fill-rule: nonzero;
    }
}


.seats_bg {
    fill: $seatsBG;
    fill-rule: nonzero;
}

.curves {
    fill: $curvesColor;
    fill-rule: nonzero;
}

.titles {
    fill: #FFFFFF;
    font-family: Arial;
    font-weight: normal;

    .title_seat_row {
        font-size: 16px;
        fill: $curvesColor;
    }

    .title_lodge {
        font-size: 16px;
        fill: $curvesColor;
    }

    .title_area {
        fill: $curvesColor;
        font-size: 30px;
    }
}
